* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url('images/banner/banner1.png');
    background-repeat: no-repeat;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}

nav h3 {
    font-size: 34px;
    font-weight: 700;
}

.me {
    color: #F15B22;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #F15B22;
}

.signin-btn {
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 10px 15px;
}

.banner {
    position: absolute;
    top: 230px;
    right: 230px;
    max-width: 600px;
    text-align: right;

}

.banner-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.primary-btn {
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 20px 26px;
    margin-top: 20px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 0;
}

section {
    margin: 60px 0;
}

.failure-content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
}

.img {
    width: 415px;
    height: 415px;
    border-radius: 1400px;
    background: rgba(241, 91, 34, 0.20);
    position: absolute;
    right: 725px;
    top: 1046px;
}

.failure-content img {
    max-width: 451px;
    max-height: 898px;
    z-index: 1;
}

.failure-details {
    max-width: 300px;
    margin-top: 100px;
    margin-left: 70px;
}

.failure-details h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-details .failure-description {
    margin: 10px 0;
}

.failure-details p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.failure-details i {
    color: rgba(22, 216, 135, 1);
}

/* plan */
.plan .plan-title {
    color: #151414;
    font-size: 40px;
    ;
    font-weight: 700;
    text-align: center;
}

.plan .plan-content {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    text-align: center;
}

.plan .plan-content h3 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
}

.plan .plan-content p {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

.plan .mindset {
    background-image: url('images/gradient2.png'), url('images/watch.png');
    margin-top: 80px;
    /* z-index:  1; */
}

.plan .mindset-content {
    padding: 60px 80px;
    max-width: 600px;
}

.plan .mindset h3 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.plan .mindset button {
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 20px 25px;
    margin-top: 20px;
}

footer {
    background: #151414;
}

footer .footer-content {
    display: flex;
    padding: 130px 230px;
    justify-content: space-between;

}

footer .footer-content .footer-column {
    max-width: 50%;

}

footer .footer-content .footer-column h3 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;

}

footer .footer-content .footer-column p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding: 10px 0;
}

footer .footer-content .footer-column h5 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

footer .footer-content .footer-column input {
    border-radius: 8px;
    border: 1px solid #FFF;
    color: #F3F3F3;
    background: #151414;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 20px;
    margin: 15px 0;
}

.subscribe-btn {
    border-radius: 8px;
    background: #FFF;
    color: #F15B22;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
}

.social-icons a {
    margin-right: 10px;
}